body{
    padding: 20px;
}

.img-friends{
    width: 250px;
    height: 250px;
}

.img-friends-modal{
    width: 200px;
    height: 200px;
}

.options{
    border-radius: 10px;
    border: 1px solid #bbb;
    padding: 15px 20px;
    margin: 10px;
}

.options:hover{
    cursor: pointer;
}

.image-options{
    cursor: pointer;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.image-options img{
    width: 100%;
    height:auto;
}

.image-selected{
    border:3px solid #56afdc;
}

.image-options.bg-success{
    border: 3px solid #5ae640;
}

.image-options.bg-danger{
    border:3px solid #b74848;
}