<div ng-controller="MainController">
   <form class="form-inline well well-sm clearfix form-group has-success">
       <span class="glyphicon glyphicon-search"></span>
       <input type="text"
              placeholder="search..."
              class="form-control">
           <button type="button" class="btn btn-success pull-right">Start Quiz</button>
   </form>

    <div class="row">
        <div class="col-sm-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="div col-md-6">
                        <img src="images/joey.jpg" class="img-rounded img-responsives img-friends" >
                    </div>
                    <div class="div col-md-6">
                        <p><strong>Name</strong></p>
                        <p><strong>Real Name</strong></p>
                        <p><strong>Age</strong></p>
                        <p><strong>Birth Date</strong></p>
                        <p><strong>Loves</strong></p>
                        <button class="btn btn-primary center-block">Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>