<div ng-controller="QuizController as qc">
    <div class="row">
        <div class="col-xs-8">
            <h2>Progress:</h2>
            <div class="btn-toolbar">
                <button class="btn" ng-repeat="question in qc.quizData.quizQuestions"
                        ng-class="{'btn-info':question.selected !== null,
                                    'btn-danger':question.selected == null}">
                    <span class="glyphicon"
                          ng-class="{'glyphicon-pencil':question.selected !== null,
                                      'glyphicon-question-sign':question.selected === null}"></span>
                </button>
            </div>
        </div>
        <div class="col-xs-4">
            <h2>Legend:</h2>
            <div class="col-sm-4">
                <button class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <p>Answered</p>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-danger">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </button>
                <p>Unanswered</p>
            </div>
        </div>
    </div>
</div>