<div ng-controller="QuizController as qc">
    <div class="row">
        <div class="col-xs-8">
            <h2>Progress:</h2>
            <div class="btn-toolbar">
                <button class="btn" ng-repeat="question in qc.quizData.quizQuestions"
                        ng-class="{'btn-info':question.selected !== null,
                                    'btn-danger':question.selected == null}"
                        ng-click="qc.setActiveQuestion($index)">
                    <span class="glyphicon"
                          ng-class="{'glyphicon-pencil':question.selected !== null,
                                      'glyphicon-question-sign':question.selected === null}"></span>
                </button>
            </div>
        </div>
        <div class="col-xs-4">
            <h2>Legend:</h2>
            <div class="col-sm-4">
                <button class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <p>Answered</p>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-danger">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </button>
                <p>Unanswered</p>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Question:</h3>
        <div class="alert alert-danger"
            ng-show="qc.error">
            Error!You have not answered all the questions!
            <button class="close" ng-click="qc.error = false">&times</button>
        </div>
        <div class="well well-sm" ng-hide="qc.finalise">
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{qc.activeQuestion+1}}.{{qc.quizData.quizQuestions[qc.activeQuestion].text}}</h4>
                    <div class="row"
                        ng-if="qc.quizData.quizQuestions[qc.activeQuestion].type === 'text'">
                        <div class="col-sm-6" ng-repeat="ans in qc.quizData.quizQuestions[qc.activeQuestion].possibilities">
                            <div class="options" ng-class="{'bg-info':$index === qc.quizData.quizQuestions[qc.activeQuestion].selected}"
                                 ng-click="qc.selectAnswer($index)">
                                <h4>{{ans.answer}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row"
                         ng-if="qc.quizData.quizQuestions[qc.activeQuestion].type === 'image'">
                        <div class="col-sm-6" ng-repeat="ans in qc.quizData.quizQuestions[qc.activeQuestion].possibilities">
                            <div class="image-options" ng-class="{'image-selected':$index === qc.quizData.quizQuestions[qc.activeQuestion].selected}"
                                 ng-click="qc.selectAnswer($index)">
                                <img ng-src="{{ans.answer}}">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-warning pull-left" ng-click="qc.questionAnswered()">Continue</button>
                </div>
            </div>
        </div>

        <div class="well well-sm" ng-show="qc.finalise">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Are you sure you want to submit the quiz?</h4>
                    <a href="#!/results"><button  class="btn btn-success">Yes</button></a>
                    <button class="btn btn-danger" ng-click="qc.finalise = false">No</button>
                </div>
            </div>
        </div>
    </div>
</div>